Orchestration/FirstService.UI/Service References/WebServiceReference/WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22474/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirstService.Web.Model" />
  <xs:element name="GetEtudiants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEtudiantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FirstService.Web.Model" minOccurs="0" name="GetEtudiantsResult" nillable="true" type="q1:ArrayOfEleve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>